@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: black;    
    color:white;
    font-family: 'Press Start 2P', cursive;
}

main {
    max-width:500px;
    margin: 100px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#start-button {
    background-color: rgb(255, 166, 0);
    border-right: 4px solid rgb(255, 132, 0);  
    border-bottom: 4px solid rgb(255, 132, 0);
    border-left: 4px solid rgb(255, 200, 0);
    border-top: 4px solid rgb(255, 200, 0);   
    margin:15px;
    padding:10px;
    cursor:pointer;
    font-weight: bold;
}

#start-button:hover {
    background-color: rgb(255, 200, 0);
}

.grid {
    width:300px;
    height: 600px;
    background-color: blanchedalmond;
    display:flex;
    flex-wrap: wrap;
    outline: 1px solid orange; 
}

.grid div {
    width:26px;
    height:26px;
    background-color: #333;
    border-right: 2px solid #111;   
    border-bottom: 2px solid #111;
    border-left: 2px solid #555;
    border-top: 2px solid #555;    
}